<div>
    <h1>PRODUCTOS</h1>
    {{#each products}}
        <div>
            <p>----------------------------------------</p>
            <p>title:{{this.title}}</p>
            <p>description:{{this.description}}</p>
            <p>price:{{this.price}}</p>
        </div>
    {{/each}}
</div>