<h1>FORMULARIO PARA NUEVO PRODUCTO</h1>

<form action="" id="add-product-form">
    <label>Título:</label>
    <input style="margin-bottom: 0.5rem" id="title">
    <br>
    <label>Descripción:</label>
    <input style="margin-bottom: 0.5rem" id="description">
    <br>
    <label>Code:</label>
    <input style="margin-bottom: 0.5rem" id="code">
    <br>
    <label>Precio:</label>
    <input style="margin-bottom: 0.5rem" id="price">
    <br>
    <label>Stock:</label>
    <input style="margin-bottom: 0.5rem" id="stock">
    <br>
    <button type="submit" id="add-product-btn">Agregar producto</button>
</form>

<h1>Productos en tiempo real: </h1>
<div id="products-container">
        {{#each products}}
        <div>
            <p>----------------------------------------</p>
            <p>title:{{this.title}}</p>
            <p>description:{{this.description}}</p>
            <p>price:{{this.price}}</p>
        </div>
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/js/realtTimeProducts.js"></script>